<!DOCTYPE html>
<html>
  <link>
    <meta charset="utf-8">
    <title>onlineconverter</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Enter youtube url</h1>

    <form class="url_part" action="" method="post">
      {% csrf_token %}
      URL: <input class="url_holder" type="text" name="url">
          <input type="submit" value="Download" name="download">
    </form>

    <form class="hist_button" action="{% url 'convert:history' %}">
        <input type="submit" value="History" name="hist">
    </form>

  </body>
</html>






